.cls{

    width:250px;
    height: 500px;
    margin-top: 25px;
    border-radius: 10px;
    
}
.cls1
{
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    background-color: aqua;
    padding-top: 10px;
    overflow-y: auto;
    height: 100vh;
    padding-left: 1.3em;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 3, 34);
    margin-top: 40px;
}
li{
    color: rgb(6, 3, 34);
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}
.btn1{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.btn2{
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
#input{
    padding: 6px ;
    border-radius: 10px;
}
